/* ######### CSS Menu all level NccSupports.com ######### */
.mattblackmenu ul{
margin: ;
padding: 0;
font: bold 14px Verdana;
list-style-type: none;
border-bottom: 0px solid gray;
background: #eeeeee;
overflow: hidden;
width: 100%;
}
.mattblackmenu li{
display: inline;
margin: 0px;
}
.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*Khoang cach chu và khung tab*/
border-right: 1px solid white; /*khoang cach cac tab voi nhau*/
color: white; 
background: #414141;
}
.mattblackmenu li a:visited{
color: white; /*Mau chu trong tab*/
}
.mattblackmenu li a:hover{
background: #00cd66; /*Nen khi chon tab menu */
}
.mattblackmenu a.selected{
background: #00994d; /*Nen khi chon tung muc trong tab menu */
}
/*end topbar*/